extra-tests/extra-metadata/flows/LogHandler_Tests_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_user_s_first_name</name>
        <label>Update user&apos;s first name</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Get_current_user.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Logger-Flow-Test</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_current_user</targetReference>
        </connector>
    </assignments>
    <description>An additional Flow used test dynamically running Flow post-processors from LoggerSObjectHandler</description>
    <interviewLabel>LogHandler_Tests_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LogHandler_Tests_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_current_user</name>
        <label>Get current user</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_user_s_first_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_current_user</name>
        <label>Save current user</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>Get_current_user</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>oldRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Log__c</objectType>
    </variables>
    <variables>
        <description>Used by test class to verify that the Flow ran successfully</description>
        <name>ranSuccessfully</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Log__c</objectType>
    </variables>
    <variables>
        <name>triggerOperationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
